name: Test
on:
  pull_request:
    paths: ["go/**/*.go"]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: .go-version
      - run: go test go/excellent/*.go
